<mat-toolbar color="primary">
  <span>Harry Potter Api Info - id:180031244</span>
</mat-toolbar>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <th mat-cell *matCellDef="let element">{{element.name}}</th>
  </ng-container>
  <ng-container matColumnDef="School">
    <th mat-header-cell *matHeaderCellDef>School</th>
    <th mat-cell *matCellDef="let element">{{element.school}}</th>
  </ng-container>
  <ng-container matColumnDef="Role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <th mat-cell *matCellDef="let element">{{element.role}}</th>
  </ng-container>
  <ng-container matColumnDef="House">
    <th mat-header-cell *matHeaderCellDef>House</th>
    <th mat-cell *matCellDef="let element">{{element.house}}</th>
  </ng-container>
  <ng-container matColumnDef="Blood-Status">
    <th mat-header-cell *matHeaderCellDef>BloodStatus</th>
    <th mat-cell *matCellDef="let element">{{element.bloodStatus}}</th>
  </ng-container>
  <ng-container matColumnDef="Species">
    <th mat-header-cell *matHeaderCellDef>Species</th>
    <th mat-cell *matCellDef="let element">{{element.species}}</th>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
